@use 'scss/index.scss' as *;
.header {
    width: 100%;
    height: $header-height;
    background-color: $header-bg;
    box-shadow: $header-shadow;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    &.active {
        box-shadow: 0 12px 6px rgb(0 0 0 / 6%);
        height: calc(#{$header-height - 3});
    }
    &-wrap {
        width: 100%;
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    &__logo {
        width: 145px;
        height: 45px;
        @include mobile {
            padding-left: 10px;
        }
        & > img {
            width: 100%;
            height: 45px;
            object-fit: cover;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        @include mobile {
            padding-right: 10px;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        margin-right: 50px;
        &.height {
            height: 100vh;
        }
        @include mobile {
            position: absolute;
            width: 100%;
            background-color: #fff;
            bottom: -100vh;
            left: 0;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 10px;
            max-height: 100vh;
            height: 0;
            overflow-y: auto;
            transition: all 0.8s cubic-bezier(0.79, 0.14, 0.15, 0.86),
                opacity 0.8s cubic-bezier(0.79, 0.14, 0.15, 0.86);
        }
    }
    &__item {
        margin: 0 15px;
        @include mobile {
            width: 100%;
            justify-content: space-between;
            margin: 0;
        }
        &:hover {
            .menu,
            .menu-item {
                opacity: 1;
                visibility: visible;
                user-select: auto;
                @include mobile {
                    height: fit-content !important;
                    display: flex;
                }
            }
        }
        & > a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $header-height;
            position: relative;
            @include mobile {
                width: 100%;
                justify-content: space-between;
            }
            &:hover {
                & > h5 {
                    color: $main-blue;
                    @include mobile {
                        color: $white-color;
                    }
                }
                & > img {
                    transform: rotate(180deg);
                }
            }
            & > h5 {
                color: $text-color;
                font-size: 1.4rem;
                font-weight: 500;
                transition: all 0.2s ease-in-out;
            }
            & > img {
                width: 9px;
                height: 9px;
                transition: all 0.2s ease-in-out;
                margin-left: 5px;
            }
        }
    }
    &__icon {
        display: flex;
        align-items: center;
    }
    &__cart,
    &__search {
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 25px;
        }
        & > svg {
            width: 18px;
            height: 18px;
        }
    }
    &__cart--badge {
        position: absolute;
        top: -10px;
        right: -14px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 500;
        color: #fff;
        background-color: #ff583d;
        transition: all 0.3s ease-in-out;
        @include flex();
    }
    &__menu {
        width: 30px;
        height: 30px;
        display: none;
        & > svg {
            width: 100%;
            height: 100%;
        }
        @include mobile {
            @include flex();
        }
    }
}
