$header-height: 65px;
$header-bg: #fff;
$header-shadow: 8px 3px 30px 5px rgb(0 0 0 / 8%);

$white-color: #fff;
$text-color: #000000;
$main-blue: #013ca3;
$border-radius: 4px;

$text-second: #696969;
$gap-lg: 25px;
$gap: 10px;
$gap-md: 15px;
